{% extends "learning/layout.html" %}
{% load static %}

{% block body %}

<!-- Sidebar adapted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_responsive -->
{% if message %}
<div class="container">
  <h4 class="err">{{ message }}</h4>
</div>
{% else %}
<div class="sidebar">
  <a class="active" id="description-tab" href="#">Course Description</a>
  <a href="#" id="announcements-tab">Announcements</a>
  <a href="#" id="assignments-tab">Assignments</a>
  <a href="#" id="submissions-tab">Submissions</a>
</div>
<div class="content container">
  <div class="title">
    <h2>{{ course.title }}</h2>
  </div>

  <div id="content-view">
  {% if is_instructor %}
  <p>You are an instructor!</p>
  {% endif %}
  </div>
</div>

{% if not is_instructor %}
{% block script %}
<script src="{% static 'learning/course.js' %}"></script>
<script>
  const courseID = {{ course.id }};
  const userID = {{ user.id }};
  const studentID = {{ user.student.id }}
  const body = "{{course.front_page}}"
  const courseView = document.querySelector('#content-view');
</script>
{% endblock %}
{% endif %}
{% endif %}

{% endblock %}
